body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 100%;
}

button {
  background: #22c55e;
  border: none;
  cursor: pointer;
  color: black;
}

.card {
  background: #020617;
  padding: 20px;
  max-width: 400px;
  margin: 60px auto;
  border-radius: 10px;
}
